a:link {
  color:dodgerblue;
}
#contents {
  line-height:1.5em;
  width:80%;
  margin-left:auto;
  margin-right:auto;
}
p {
  text-align:justify;
  text-indent:1em;
}
p.mid-flow, p.no-indent {
  text-indent:0em;
}
h1 {
  padding:0.5em 0em 0.5em 0.5em;
  border-width:0px 0px 1px 5px;
  border-style:solid;
  border-color:silver;
  line-height:1.25em;
}
h2 {
  padding:0.5em 0em 0.5em 0.5em;
  border-width:3px 0px 0px 0px;
  border-style:solid;
  border-color:silver;
  width: fit-content;
  padding-right: 1em;
}
h3 {
  /*
  padding:0.5em 0em 0.5em 0.5em;
  border-width:2px 0px 0px 0px;
  border-style:solid;
  border-color:silver;
  width:11.5em;
  padding-right: 1em;
  */
  width: fit-content;
}
.skip {
  font-size:0.75em;
}
.top-mutter {
  padding-left:1em;
  padding-right:1em;
}
.mutter {
  border-width:1px 0px 0px 0px;
  border-style:solid;
  border-color:silver;
  padding-left:1em;
  padding-right:1em;
}
.title {
  text-indent:0em;
  font-weight: bold;
}
.warning {
  font-size:1.5em;
  font-weight: bold;
  color:#ff0000;
}
.strong {
  font-weight: bold;
}
.strikethrough {
	text-decoration: line-through;
	color:darkgray;
}
.twitter {
  padding:1em;
  background-color:silver;
  color:black;
}
.youtube {
	width:512px;
	height:384px;
}

img{
  border:none;
}
.external:after {
  content:url('link-icon_external.gif');
}
.close_item {
  display:inline;
}
.close_item:after{
  content:' /';
}
.last_close_item{
  display:inline;
}
.nomark {
  list-style-type:none;
}
.tag {
  display:inline;
  font-size:0.75em;
}
blockquote {
  border-style:solid;
  border-width:1px;
  border-color:silver;
  padding:4px;
}
.footnote{
  margin-left:4em;
  margin-right:4em;
  color:gray;
  font-size:0.75em;
}
.mid-footnote{
  font-size:0.75em;
  color:gray;
}
.footer {
  list-style-type:none;
  line-height:1.5em;
}
.left{
  float:left;
}
.right{
  float:right;
}
.center {
  text-align:center;
}
.cancel {
  text-decoration:line-through;
  text-decoration-style: double;
}
.amazon-link {
  margin:1em;
}
.image-mergin {
  margin:1em;
}
.clear {
  clear:both;
}
.container {
  overflow: auto;
}
.after-clear::after {
  clear:both;
}
.black {
  color:black!important;
}
iframe {
	width:34em;
	/*height:9em;*/
	height:auto;
	border:none;
}
span.red {
	color:red;
}
red {
	color:red;
}
pink {
	color:pink;
}
gray {
	color:gray;
}
.soundcloudplayer{
  margin:0.5em;
}
.pixiv{
  margin-top:1em;
  margin-bottom:1em;
  margin-left:auto;
  margin-right:auto;
  padding:2em;
  background-color:azure;
  border-style:solid;
  border-width:3px;
  border-color:#9edddd;
}
.illust {
  box-shadow:0 0 20px #999;
  -moz-box-shadow:0 0 20px #999;
  -webkit-box-shadow:0 0 20px #999;
}
.img_title{
  text-align:center;
}
.img14951639{
  width:600px;
  height:424px;
}
.img15018235{
  width:443px;
  height:600px;
}
.wall-logic-table {
  border-style    :solid;
  border-width    :1px;
  border-collapse :collapse ;
}
.wall-logic-td {
  border-style    :solid;
  border-width    :1px;
  padding         :4px;
  vertical-align  :top;
  width:1.5em;
  text-align:center;
}
span.link {
  color:dodgerblue;
}
.aframe01 {
  width:512px;
  height:256px;
}
.aframe02 {
  width:960px;
  height:480px;
}
.thumnail-parent {
  display:flex;
}
.thumbnail-box{
  width:fit-content;
  margin-top:1em;
  margin-bottom:1em;
  /*margin-left:auto;*/
  margin-right:auto;
  padding:2em;
  /*
  box-shadow:0 0 20px #999;
  -moz-box-shadow:0 0 20px #999;
  -webkit-box-shadow:0 0 20px #999;
  */
}
.desc-box{
  margin-left: 1em;
  text-align: center;
}
figcaption {
	font-size: 0.7em;
}
figcaption.fig2024062301 {
	margin-left:18em;
}
figcaption.fig20240730 {
	margin-top:0em;
	margin-bottom:0em;
	color:gray;
}
table.pentax17 {
	border-collapse:collapse;
}
table.pentax17 th {
	padding-left:8px;
	padding-right:8px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color:lightgray;
}
table.pentax17 th:nth-child(1) {
	border-right:1px solid black;
}
table.pentax17 td {
	padding-left:8px;
	padding-right:8px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
table.pentax17 td:nth-child(1) {
	border-right:1px solid black;
}
blockquote.caution {
	background-color: #ff9372;
	color: black;
	border-radius: 10px;
	padding-left:1em;
	padding-right:1em;
}
blockquote.code {
	background-color:whitesmoke;
	border-radius: 10px;
	padding-left:1em;
	padding-right:1em;
}
/* 親の div 要素に float を指定 */
div.right::after {
	clear:both;
}
div.right {
  float: right;
  margin-left: 1em;
}

/* figure 要素のスタイル（必要に応じて） */
div.right > figure {
  display: inline-block;
  text-align: left;
  width:512px;
}

div.right > figure img {
  display: block;
  max-width: 100%;
  height: auto;
}

div.right > figure figcaption {
  width: 100%;
}
/* figure 要素のスタイル（必要に応じて） */
div.left::after {
	clear:both;
}
div.left > figure {
  display: inline-block;
  text-align: left;
  width:512px;
}

div.left > figure img {
  display: block;
  max-width: 100%;
  height: auto;
}

div.left > figure figcaption {
  width: 100%;
}

.glossary-container > dl > dt {
	font-weight:bold;
}
/* 画面幅が768px以下（スマホ・タブレット）の場合の調整 */
@media screen and (max-width: 768px) {
  
  /* メインコンテンツの幅を広げて画面を有効活用する */
  #contents {
    width: 95%;
  }

  /* 左右の浮き出し（float）を解除して縦並びにする */
  div.right, 
  div.left {
    float: none;
    margin-left: 0;
    margin-right: 0;
    text-align: center; /* 画像を中央に寄せる */
  }

  /* 512px固定だった幅を、画面いっぱいに広がるように変更 */
  div.right > figure,
  div.left > figure {
    width: 100%;      /* 親要素に対して100%の幅にする */
    max-width: 512px; /* 元のサイズより大きくならないように制限 */
    margin: 1em 0;    /* 上下に少し隙間を作る */
  }

  /* YouTubeなどの動画も幅に合わせて調整 */
  .youtube {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3; /* 元の 512:384 の比率を維持 */
  }
}
